<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="type">Type</label>
        <input
          type="text"
          class="form-control"
          id="type"
          required
          v-model="transaction.type"
          name="type"
        />
      </div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          required
          v-model="transaction.amount"
          name="amount"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          v-model="transaction.description"
          name="description"
        />
      </div>

      <button @click="saveTransaction" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newTransaction">Add</button>
    </div>
  </div>
</template>

<script>
import TransactionDataService from "../services/TransactionDataService";

export default {
  name: "add-transaction",
  data() {
    return {
      transaction: {
        type: "",
        amount: 0.0,
        description: ""
      },
      submitted: false
    };
  },
  methods: {
    saveTransaction() {
      var data = {
        type: this.transaction.type,
        amount: this.transaction.amount,
        description: this.transaction.description
      };

      TransactionDataService.create(data)
        .then(response => {
          // this.transaction.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },

    newTransaction() {
      this.submitted = false;
      this.transaction = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
