<template>
  <div v-if="currentTransaction" class="edit-form">
    <h4>Transaction</h4>
    <form>
      <div class="form-group">
        <label for="title">Type</label>
        <input type="text" class="form-control" id="type"
          v-model="currentTransaction.type"
        />
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount"
          v-model="currentTransaction.amount"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
          v-model="currentTransaction.description"
        />
      </div>

      <div class="form-group">
        <label><strong>Type:</strong></label>
        {{ currentTransaction.type ? "credit" : "debit" }}
      </div>
    </form>

    <button class="badge badge-danger mr-2"
      @click="deleteTransaction"
    >
      Delete
    </button>

    <button type="submit" class="badge badge-success"
      @click="updateTransaction"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Please click on a Transaction...</p>
  </div>
</template>

<script>
import TransactionDataService from "../services/TransactionDataService";

export default {
  name: "transaction",
  data() {
    return {
      currentTransaction: null,
      message: ''
    };
  },
  methods: {
    getTransaction(id) {
      TransactionDataService.get(id)
        .then(response => {
          this.currentTransaction = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteTransaction() {
      TransactionDataService.delete(this.currentTransaction.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "transactions" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getTransaction(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
