<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by Description"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchDescripton"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Transactions List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(transaction, index) in transactions"
          :key="index"
          @click="setActiveTransaction(transaction, index)"
        >
          {{ transaction.description }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div v-if="currentTransaction">
        <h4>Transaction</h4>
        <div>
          <label><strong>Type:</strong></label> {{ currentTransaction.type ? "credit" : "debit" }}
        </div>
        <div>
          <label><strong>Amount:</strong></label> {{ currentTransaction.amount }}
        </div>
        <div>
          <label><strong>Description:</strong></label> {{ currentTransaction.description }}
        </div>

        <router-link :to="'/transactions/' + currentTransaction.id" class="badge badge-warning">Edit</router-link>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Transaction...</p>
      </div>
    </div>
  </div>
</template>

<script>
import TransactionDataService from "../services/TransactionDataService";

export default {
  name: "transactions-list",
  data() {
    return {
      transactions: [],
      currentTransaction: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveTransactions() {
      TransactionDataService.getAll()
        .then(response => {
          this.transactions = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTransactions();
      this.currentTransaction = null;
      this.currentIndex = -1;
    },

    setActiveTransaction(transaction, index) {
      this.currentTransaction = transaction;
      this.currentIndex = transaction ? index : -1;
    },

    removeAllTransactions() {
      TransactionDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },

    searchDescription() {
      TransactionDataService.findByTitle(this.description)
        .then(response => {
          this.transactions = response.data;
          this.setActiveTransaction(null);
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveTransactions();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
